<nav class="mobile-navbar">
  <%= link_to root_path do %>
    <div class="logo">PropSuite</div>
  <% end %>
  <div class="space"></div>
  <div class="auth-links-area">
    <% if user_signed_in? %>
      <div data-controller="menu" class= "smaller-topbar-link">
        <i class="fa fa-bars hamburger"
          data-action="click->menu#togglesidebar"
        ></i>
          <span data-target="menu.mobilesidebar" class="d-none">
            <%= render 'layouts/mobile_sidebar' %>
          </span>
      </div>

    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</nav>