<div class="cover-image-container">
  <div class="image-frame">
    <% if @user.coverphoto.url.present? %>
      <%= image_tag(@user.coverphoto.url, :class => "cover-photo", :alt => "cover photo") %>
    <% end %>
</div>
  <div class="show-user-details">
    <div class="user-show-avatar-zone">
      <div class="show-avatar-wrapper">
          <i class="fas fa-plus-circle plus-icon"></i>

          <% if @user.avatar.url.present? %>
            <%= image_tag(@user.avatar.url, :class => "user-show-avatar") %>
          <% else %>
            <i class="fas fa-user-circle user-icon">            
          <% end %>        
      </div>
    </div>
    <div class="dashbord-followers-zone">
      <div>
        <h4>3</h4>
        <p>Reviews</p>
      </div>
      <div>
        <h4>450</h4>
        <p>Following</p>
      </div>
      <div>
        <h4>460</h4>
        <p>Followers</p>
      </div>
    </div>
  </div>
</div>