<div class="user-page-smaller_topbar">
  <%= link_to 'LATEST DEALS', apartments_path, class: "smaller-topbar-link" %>
  <%= link_to 'CUSTOMER SUPPORT', apartments_path, class: "smaller-topbar-link" %> 
</div>