<div class="user-page-smaller_topbar">
  <a href=""></a>
  <%= link_to 'LATEST DEALS', apartments_path, class: "smaller-topbar-link" %>
  <%= link_to 'CUSTOMER SUPPORT', apartments_path, class: "smaller-topbar-link" %> 
  <%= link_to "SEARCH APARTMENTS", new_search_path, class: "smaller-topbar-link" %>
</div>