<div class="user_rightbar">
      <h3 class="right-bar-header">
        <span>FOLLOWED BY</span>
      </h3>
      <ul>
        <li class="who-to-follow-item">
          <i class="fas fa-user-circle user-icon"></i>
          <div>
            <p><strong>user.name</strong></p>
            <small>N followers</small>
          </div>
        </li>
      <ul>
</div>