<div class = "primary-container">
  <div class="primary-main">

    <h1>WHO TO FOLLOW</h1>
    <small>
      <span class="search-asterist">*</span>
      click on any row to view user details
    </small>

    <div class="usersindex-who-to-follow-wrapper">
      <%= who_to_follow %>
    </div>
  </div>
<div>
