
<div class="search-results-container">
  <div class= "apartment-prev-page-link">
    <i class="fa fa-arrow-left"></i>
    <%= link_to "Previous page", :back %>
    <%= link_to "Home", root_path %>
  </div>
  
   <h1>Search Results</h1>

    <%= print_search_result %>
</div>
