$custom_white: #cac5c5;
$borderColor: #DBDBDB;
$darkText: #555;
$primary: #52A7E7;
$offwhite: #efefef;
$customNavy: #213346;

// <<<<<< APARTMENTS INDEX PAGE >>>>>>>>

.apartment-container, .user-details-container {  
  background-color: $offwhite;
  position: absolute;
  top: 130px;
  left: 0%;
  width: 100%;
  color: $darkText;

  @media (min-width: 64em) {
    width: 60%;
    left: 20%;
  }
}

.user-details-container {
  display: block;
}

// <<<<<<< MID SECTION >>>
.main-apartment-showcase,
.main-user-details-showcase {
  width: 100%;
}

.new-apartment-form-container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 2.5%;
  margin-top: 3%;
  border: 1.2px solid $borderColor;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);

  .new-apartment-field {
    height: 45px;
    border: 1.2px solid $borderColor;
    border-radius: 3px;
    width: 100%;
    margin-top: 1%;
    font-size: 0.9em;
    padding-left: 1.5em;
  }

  .file-field {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.btn-apartment {
  width: 60%;
  padding: 13px 20px;
  margin: 3% 20%;
  color: #fff;
  background-color: $primary;
  border-radius: 3px;
  border: 1.2px solid $primary;
  cursor: pointer;
  font-weight: bold;
  transition: 500ms;

  &:hover {
    transform: scaleX(1.2);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
  }

  &:focus {
    outline: none;
  }
}


// <<<<<<< APARTMENTS SHOWCASE >>>>>

.apartmentphotos-frame {
  display: flex;
  border: 1px solid $borderColor;
  height: 300px;
  width: 100%;
  border-radius: 2px;
  margin: 3% auto 0.5%;  
}

.apartment-unit-details {
  display: flex;

    small {
      padding: 5px;
      min-width: 20px;
      text-align: center;
      border-radius: 2px;
      background-color: #fff;
      margin: 10px;
      font-size: 15px;
    }

    .detail-var {
      color: rgba(0, 0, 0, 0.92);
      margin-left: 6px;
    }

    a {
      color: $primary;
      text-decoration: underline;
      font-weight: bold;
    }
}

.apartment-image {
  height: auto;
  width: 50%;
  object-fit: contain;
}

