/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif, 'Roboto';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

body {
  position: relative;
  overflow-x: hidden;
}

.alert-success,
.alert-danger {
  width: 25%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 15%;
  right: 2%;
  z-index: 300;
}

.alert-success {
  background-color: #228b22;
}

.alert-danger {
  background-color: tomato;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
