$primary: #52A7E7;

.btn-follow {
  padding: 4px 9px;
  border: 1.2px solid $primary;
  color: $primary;
  background-color: #fff;
  font-size: 0.9em;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms;

  @media (min-width: 64em) {
    font-size: 1.2em;
  }
}

.already-following {
  color: #fdfdfd;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 2px;
  opacity: 0.5;
}