$custom_white: #cac5c5;
$customNavy: #213346;

.mobile-sidebar-container {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 80px;
  background-color: $customNavy;
  width: 80%;
  color: $custom_white;
  padding-left: 6%;
  padding-top: 12%;
  z-index: 200;

  div {
    margin-bottom: 7%;
  }

  @media (min-width: 64em) {
    display: none;
  }

  // backdrop
  &::after {
    content: '';
    height: 100vh;
    position: fixed;
    right: 0;
    top: 80px;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.4;

    @media (min-width: 64em) {
      display: none;
    }
  } 
}

.mobile-followers-zone {
  width: 40%;
  display: flex;
  justify-content: space-around;

  div {
    text-align: center;
  }
}
