$primary: #53A7E8;
$custom_white: #cac5c5;
$borderColor: #DBDBDB;

.navbar {
  width: 80%;
  height: 80px;
  background-color: $primary;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  padding-top: 1.5em;
  padding-right: 4%;
  padding-left: 4%;
  border-bottom: 1.2px solid $borderColor;

  .space {
    flex: 1;
  }
  .navbar-link {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 4px;
    color: rgba(0, 0, 0, 0.63);

    &:hover {
      border-bottom: 2px solid $custom_white;
    }
  }

  .auth-links-area {
    display: flex;
  }
}

.logo {
  font-weight: bold;
  color: #eeffee;
  text-decoration: underline;
  font-size: 1.5em;
  display: flex;
  flex-shrink: 0;
}
