$primary: #53A7E8;
$custom_white: #cac5c5;
$customNavy: #213246;

.sidebar-container {
  display: none;
}

// MEDIA QUERIES
@media (min-width: 64em) {
  .sidebar-container {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $customNavy;
    width: 20%;
    color: $custom_white;
    display: inline-block;
  
    div {
      margin-bottom: 7%;
    }
  } 
}

.sidebar-icon-link {
  margin-right: 6%;
}

.avatar-zone {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3.5em;
  
  .avatar-frame {
    background-color: #efefef;
    border-radius: 3px;
    height: 9em;
    width: 9em;
    margin-right: 4%;
    margin-top: 8%;
    text-align: center;
    padding-top: 3%;
  }

  @media(min-width: 64em) {
    padding-left: 1.5em;

    .avatar-frame {
      height: 6em;
      width: 6em;
      padding-top: 0;
    }
  } 
}

.followers-zone {
  width: 100%;
  display: flex;
  justify-content: space-around;

  div {
    text-align: center;
  }
}

.nav-zone {
  width: 100%;

  ul {
    list-style: none;
    width: 100%;
  }

  li {
    width: 100%;
    padding-left: 1.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 2.5em;
    cursor: pointer;
    color: $custom_white;

    @media (min-width: 64em) {
      font-size: 1.2em;
    }

    i {
      margin-right: 25px;

      @media (min-width: 64em) {
        margin-right: 10px;
      }
    }

    .sidebar-user-icon {
      margin-right: 28px;

      @media (min-width: 64em) {
        margin-right: 14px;
      }
    }

    a {
      color: $custom_white;
    }

    &:hover {
      background-color: $primary;
    }
  }
}

.dashboard-icon {
  font-size: 0.9em;
}

.current-user-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

