// <<<<<< SMALLER TOPBAR >>>>
$custom_white: #cac5c5;
$borderColor: #DBDBDB;
$darkText: #555;
$primary: #53A7E8;
$offwhite: #efefef;

.smaller-topbar, .user-page-smaller_topbar {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 80px;
  border-bottom: 1.2px solid $borderColor;
  background-color: $offwhite;
  display: flex;
  align-items: center;

  @media (min-width: 64em) {
    left: 20%;
  }
}

.user-page-smaller_topbar {
  position: absolute;
  top: 200px;
  left: 0;
}

.smaller-topbar-link {
  color: $darkText;
  margin-left: 2%;
  height: 100%;
  font-size: 0.9em;
  padding-top: 1em;

  &:first-child {
    padding-top: 0;
  }

  &:hover {
    border-bottom: 2px solid $primary;
  }
}

.btn-data-action-new-apartment {
  height: 100%;
  margin-top: -2px;
  border: none;
  font-size: 1em;
}

.envelope-icon {
  margin-right: 7px;
}
