$primary: #53A7E8;
$borderColor: #DBDBDB;
//  #00aced;

.bg {
  background-color: $primary;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  padding-top: 5%;
}

.auth-form {
  width: 45%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  padding-top: 2%;
  padding-bottom: 2%;

  .user-icon {
    font-size: 3em;
    color: #DBDBDB
  }
}


.form-label {
  margin: 2% auto;
}

.text-field {
  height: 45px;
  padding-left: 2%;
  border: 1.2px solid $borderColor;
  border-radius: 3px;
  margin: 5px auto;
  width: 50%;

  &:focus {
    outline: none;
  }
}

.btn-auth {
  padding: 12px 25px;
  color: #fff;
  background-color: $primary;
  border-radius: 3px;
  border: 1.2px solid $primary;
  font-size: 16px;
  margin: 2% auto;
  cursor: pointer;
  transition: 300ms;
  font-weight: bold;
  min-width: 48%;

  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
    transform: scaleX(1.03);
  }
}

// <<<<<<<<< USER SHOW PAGE>>>>>>

.details-wrapper {
  display: flex;
}
