<div class="reviews-container">
  <div class="reviews-main">
    <h1> 
      <%= @user.fullname.capitalize! %>'s Clients Reviews
    </h1>

    <div class="rev-prev-page">
      <%= previous_page %>
    </div>

    <div data-controller="reviewform">
      <button data-action="click->reviewform#openreviewform" type="button"
       class="btn-follow btn-toggle-new-rev">Add new Review</button>
      <div data-target="reviewform.togglereviewform" class="new-reviewform-area d-none">
        <h2>New Review</h2>
        <small><span class="search-asterist">*</span>Please leave an honest feedback, you can't edit this after submission</small>
        <%= render 'new' %>
      </div>
    </div>

      
    <div class="reviews-list">
      <table class="review-table">
        <tr>
          <th>S/N</th>
          <th>Feedback</th>
          <th>Submitted</th>
          <th>Rating</th>
        </tr>
        
        <%= render_user_reviews %>
      </table>
    </div>
    
  </div>
</div>