<div class="apartment-details-page">
    <div class= "apartment-prev-page-link">
      <i class="fa fa-arrow-left"></i>
      <%= link_to "Previous page", :back %>
    </div>

    <%= show_selected_apartment %>
</div>