<ul class="how-it-works-wrapper">
  <h2>HOW IT WORKS</h2>
  <li>A seller(agent) posts an available apartment.</li>
  <li>Registered and unregistered clients can view the apartments and the poster's details.</li>
  <li>Interested clients can contact the agent that posted the apartment or DM them.</li>
  <li>After their transaction the user that bought the apartment can then review the seller with ratings and 
  comments.</li>
  <li>But, only registered clients can review a seller.</li>
</ul>