<div class="smaller-topbar">

  <div data-controller="toggler" class= "smaller-topbar-link">
    <button
      class="btn-data-action-new-apartment"
      data-action="click->toggler#opencanvas"
    >ADD NEW APARTMENT</button>
      <span data-target="toggler.canvas" class="d-none">
        <%= render 'apartment_form' %>
      </span>
  </div>
  <%= link_to 'LATEST DEALS', apartments_path, class: "smaller-topbar-link" %>
  <div data-controller="toggler" class="smaller-topbar-link">
    <button
      class="btn-hiw-link"
      data-action="click->toggler#opencanvas"
    >HOW IT WORKS</button>
      <span data-target="toggler.canvas" class="d-none">
        <%= render 'layouts/how' %>
      </span>
  </div>
  <div class = "smaller-topbar-link" ><i class="fa fa-envelope envelope-icon"></i>propsuite@domain.com</div>
  <%= link_to "SEARCH APARTMENTS", new_search_path, class: "smaller-topbar-link" %>
</div>
